.Header {
  background-image: linear-gradient(to bottom, #bfb4f7, #00feff);
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.6);
  padding: 10px 0;
  color: #bd0692;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}
